.camera {
  width: 205px;
  height: 185px;
  display: inline-block;
  margin: 10px;
  margin-top: 90px;
}

.video-container {
  box-shadow: 0 0 0 1px #e6eaed;
  border-radius: 6px;
  background-color: #f7f7f9;
}

video {
  vertical-align: middle;
}

#localVideo {
  float: left;
}

#remoteVideo {
  float: right;
}

#canvasgl {
	margin-top: 90px;
}

#logo {
	margin-top: -25px;
}

#title {
	color: white;
}