body {
  background-image: url("../img/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}

.camera {
  width: 200px;
  min-height: 160px;
  display: inline-block;
  margin: 10px;
}

.video-container {
  box-shadow: 0 0 0 1px #e6eaed;
  border-radius: 6px;
  background-color: #f7f7f9;
}

#localVideo {
  float: left;
  margin-top: 90px;
}

#remoteVideo {
  float: right;
  margin-top: 90px;
}

#localScore {
  float: left;
  font-size: 100px;
  margin-top: 300px;
  margin-left: -210px;
  background-color: white;
  color: #656565;
  width: 200px;
}

#remoteScore {
  float: right;
  font-size: 100px;
  margin-top: 300px;
  margin-right: -210px;
  background-color: white;
  color: #656565;
  width: 200px;
}

.border {
  border: 1px solid #4195fc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 4px #4195fc;
  box-shadow: 0px 0px 4px #4195fc;
}

#logo {
	margin-top: -25px;
}

#title {
	color: white;
}

#panel-alerts {
  text-align: center;
}

.alert {
  position: absolute;
  margin-top: 90px;
  margin-left: -250px;
  left: 50%;
  width: 500px;
}

#url {
	font-size: 17px;
	color: white;
}

#facetime-icon {
  margin-left: 15px;
}

.spinner div div {
  border-style: double;
  border-width: 1px;
  border-color: black;
}

.modal-footer li {
  display: inline-block;
}