.camera {
  width: 140px;
  height: 140px;
  display: inline-block;
  margin: 10px;
  margin-top: 90px;
}

.video-polaroid {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 4px;
}

video {
  vertical-align: middle;
}

#localVideo {
  float: left;
}

#remoteVideo {
  float: right;
}

#canvasgl {
	margin-left: 20%;
	margin-top: -33%;
}

#logo {
	margin-top: -25px;
}

#title {
	color: white;
}